
*  { 
    margin: 0; 
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(156deg, rgba(8, 61, 119, 0.15), rgba(8, 61, 119, 0.75)) #083D77, url("/images/ilya-pavlov-OqtafYT5kTw-unsplash.jpg"); 
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 16px;
    /*color: rgba(255, 255, 255, 0.7);*/
    line-height: 32px;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    /* background-image:  linear-gradient(30deg, rgba(50, 0, 130, 0.75), #170042); */
    /*background: #083D77;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.75);
    line-height: 32px;
    font-family: 'Montserrat', sans-serif;*/
}
a {
   color: #ee964b;
   
}

h1 {
    font-size: 2.0rem;
}
.title {
    font-size: 3em;
}
h2 {
    font-size: 1.5rem;
}
header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 75%;
}
nav {
    display: flex;
    justify-content: center;

}
nav a {
    font-size: .75em;
    padding: 10px;
}
.quiz-body {
    color: white;
    background: lightslategray;
    padding: 2em;
    margin: 2em;
    border-radius: 5px;
}
header, footer, footer a {
    text-align: center;
    background-color: #EBEBD3;
    color: #083D77;
    border-radius: 5px;
}
footer {
    font-size: 1em;
}
/* transforms and transitions styles*/

.transform-box {
    height: 150px;
    width: 150px;
    background-color: #F4D35E;
    margin-bottom: 20px;
    color: #083D77;
    padding: 20px;
    text-align: center;
}
#box2 {
    transform: translate(45px, 45px);
}
#box3 {
    transform: scale(1.5, 1.25);
}
#box4 {
    transform: rotate(10deg);
}
#box5 {
    transform: skew(15deg, 4deg);

}
.transform-oval {
    height: 75px;
    width: 150px;
    background-color: #EE964B;
    border-radius: 50px;
    margin-bottom: 20px;
    color: #083D77;
    padding: 20px;
    text-align: center;
}
#oval2 {
    transform: translateX(100px) rotate(-135deg);
}
#oval3 {
    transform: rotate(-135deg) translateX(100px);
}
.transition-circle {
    height: 150px;
    width: 150px;
    color: #083D77;
    background: #F4D35E;
    border-radius: 100px;
    padding: 20px;
    text-align: center;
}
.transition-circle:hover {
    transform: scale(3);
    color: #fff;
    background-color: #F95738;
    transition-property: transform, color, background-color; 
    transition-duration: 0.2s; 
    transition-timing-function: ease-out;
    transition-delay: 50ms;
}
.animation-box {
    width: 150px;
    height: 150px;
    background-color: #EBEBD3;
    margin: 50px;
    color: #083D77;
    padding: 20px;
    text-align: center;
}
.animation-box:hover {
  animation: changeColor 5s infinite, rotateBox 5s infinite;
}

@keyframes changeColor {
  0% {
    background-color: #EE964B;
  }
  100% {
    background-color: #083D77;;
  }
}
@keyframes rotateBox {
  0% {
    transform: rotate(90deg);
  }
  100% {
   transform: rotate(-90deg);
  }
}

.myCanvas {
 border: solid 2px #EBEBD3;
}
