@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*  { 
    margin: 0; 
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(156deg, rgba(8, 61, 119, 0.15), rgba(8, 61, 119, 0.75)), url("https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"); 
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 16px;
    /*color: rgba(255, 255, 255, 0.7);*/
    line-height: 32px;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
body a {
    color: rgba(255, 255, 255, 0.7);
}
h1 {
    font-size: 2.0rem;
    color: rgba(255, 255, 255, 0.7);
}
h2 {
    font-size: 1.5rem;
    /* text-align: center; */
    /* text-align: right; */
}.portfolio-content {
    display: flex;
    flex-flow: row-reverse;
}
.wrapper {
    max-width: 100%;
    padding: 8.3vw 10vw;
    text-align: right;
    display: flex;
    flex-flow: column;
    /* justify-content: flex-end; */
}
.wrapper h1 {
    text-align: right;
}
.button {
  border: none;
  color: lightcyan;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    
}
header, footer, footer a {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}
header img {
    width: 100px;
    height: auto;
    float: right;
}
footer {
    width: 100%;
    font-size: 1em;
    background-color: #083D77;
}

/* Portfolio Styles */
.quiz-body {
    color: white;
    background: lightslategray;
    padding: 2em;
    margin: 2em;
    border-radius: 5px;
}
.transform-box {
    height: 150px;
    width: 150px;
    background-color: #55828b;
    margin-bottom: 20px;
    color: white;
    padding: 20px;
    text-align: center;
}
#box2 {
    transform: translate(45px, 45px);
}
#box3 {
    transform: scale(1.5, 1.25);
}
#box4 {
    transform: rotate(10deg);
}
#box5 {
    transform: skew(15deg, 4deg);

}
.transform-oval {
    height: 75px;
    width: 150px;
    background-color: #87bba2;
    border-radius: 50px;
    margin-bottom: 20px;
    color: white;
    padding: 20px;
    text-align: center;
}
#oval2 {
    transform: translateX(100px) rotate(-135deg);
}
#oval3 {
    transform: rotate(-135deg) translateX(100px);
}
.transition-circle {
    height: 150px;
    width: 150px;
    color: white;
    background: #3b6064;
    border-radius: 100px;
    padding: 20px;
    text-align: center;
}
.transition-circle:hover {
    transform: scale(3);
    color: #364958;
    background-color: #c9e4ca;
    transition-property: transform, color, background-color; 
    transition-duration: 0.2s; 
    transition-timing-function: ease-out;
    transition-delay: 50ms;
}
.animation-box {
    width: 150px;
    height: 150px;
    background-color: #55828b;
    margin: 50px;
    color: white;
    padding: 20px;
    text-align: center;
}
.animation-box:hover {
  animation: changeColor 5s infinite, rotateBox 5s infinite;
}

@keyframes changeColor {
  0% {
    background-color: #364958;
  }
  100% {
    background-color: #c9e4ca;
  }
}
@keyframes rotateBox {
  0% {
    transform: rotate(90deg);
  }
  100% {
   transform: rotate(-90deg);
  }
}

.myCanvas {
 border: solid 2px #364958;
}
