html {
  font-size: 10px;
  background: #011627;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#container {
  margin: 100px auto;
}
.box {
  border: 3px solid #fdfffc;
  display: flex;
  /*justify-content: center;*/
  align-items: center; 
  }
.btn {
  background-image: url("buttons/button-orange.png");
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  background-size: 50px;
  background-position: center;
  padding: 30px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* border-radius: 100%;
  margin: 50px;
  box-shadow: 0 8px 12px 1px rgba(0, 0, 0, .2);
  background: radial-gradient(#FFB347, #ff9f1c);
  border: 5px solid #F58F00; */
}
/* .fa {
  color: #011627;
}
.fa:hover {
  color: #2ec4b6;
} */
.title {
 /*  display: inline-block; */
  font-size: 2rem;
  word-wrap: normal;
  /* max-width: 80%; */
  text-transform: uppercase;
  color: white;
  font-family: sans-serif;
}
.playing {
  background-image: url("buttons/button-teal.png");
  background-repeat: no-repeat;
  /* height: 300px;
  width: 300px;
  transform: scale(1.1);
  border-color: #2ec4b6;
  box-shadow: 0 0 1rem #2ec4b6;*/
}
.btn:hover {
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  #container {
    width: 80%;
    margin: 100px auto;
    display: flex;
    flex-flow: row wrap;
  }
  .box {
    border: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; 
  }
  .btn {
    height: 300px;
    width: 300px;
    background-size: 150px;
  }
  .title {
    font-size: 2rem;
    max-width: 80%;
    text-align: center;
  }
  
}