@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lato&display=swap');

html {
  font-size: 10px;
  background: #011627;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
#menu {
 width: 100%;
 background-color: #2ec4b6;
 color: #fdfffc;
 margin: 0 auto;
 padding: 10px 0;
 text-align: center;
}
#menu h1 {
  font-size: 3em;
  color: #011627;
  font-family: 'Alfa Slab One', cursive;
}
#menu h2 {
  font-size: 1em;
  color: #011627;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}
#controls {
margin: 0 auto;
display: flex;
justify-content: space-around;
border: 3px solid #fdfffc;
padding: 5px 10px;
color: #fdfffc;
font-size: 2em;
}
.ctrls {
  align-self: center;
  justify-content: center;
}
.ctrls p {
  padding: 0;
}
#container {
  margin: 0 auto;
}
.box {
  border-left: 3px solid #fdfffc;
  border-right: 3px solid #fdfffc;
  border-bottom: 3px solid #fdfffc;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* display: flex;
  justify-content: flex-start;
  align-items: center; */ 
  }

.btn {
  background-image: url("../buttons/button-orange.png");
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  background-size: 50px;
  background-position: center;
  padding: 30px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* border-radius: 100%;
  margin: 50px;
  box-shadow: 0 8px 12px 1px rgba(0, 0, 0, .2);
  background: radial-gradient(#FFB347, #ff9f1c);
  border: 5px solid #F58F00; */
}
/* .fa {
  color: #011627;
}
.fa:hover {
  color: #2ec4b6;
} */
.title {
 /*  display: inline-block; */
  font-size: 2em;
  word-wrap: normal;
  align-self: center;
  /* max-width: 80%; */
  text-transform: uppercase;
  color: white;
  font-family: sans-serif;
}
.faveBtn {
  /*font-size: 4em;*/
  align-self: center;
  justify-self: end;
  margin-right: 25px;
  color: white;
  /* background: #2ec4b6;
  padding: 10px;
  border-radius: 100%;
  max-width: 80%;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif; */
}
.faveToggle, .allFaves {
  color: #e71d36; 
}

.playing {
  background-image: url("../buttons/button-teal.png");
  background-repeat: no-repeat;
  /* height: 300px;
  width: 300px;
  transform: scale(1.1);
  border-color: #2ec4b6;
  box-shadow: 0 0 1rem #2ec4b6;*/
}
.btn:hover, .faveToggle:hover, .faveBtn:hover, #heartBtn:hover {
  cursor: pointer;
}
/* .favorite {
  background-image: url("../buttons/button-teal.png");
  background-repeat: no-repeat;
} */

 @media only screen and (min-width:768px) and (max-width:799px) {
  #container {
    width: 100%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
  }
  .box {
    border: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; 
  }
  .btn {
    height: 150px;
    width: 150px;
    background-size: 75px;
    padding: 0;
  }
  .faveBtn {
    margin: 10px;
    font-size: 1.5em !important;
    }
  .title {
    text-align: center;
    font-size: 1.75em;
    width: 70%;
  }

}
@media only screen and (min-width: 800px) {
  #container {
    width: 80%;
    margin: 100px auto;
    /* display: flex;
    flex-flow: row wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
  }
  .box {
    border: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; 
  }
  .btn {
    height: 300px;
    width: 300px;
    background-size: 150px;
    padding: 0;
  }
  .faveBtn {
    margin: 20px;
    font-size: 2em !important;
    }
  .title {
    margin-top: -40px;
    font-size: 2rem;
    max-width: 80%;
    text-align: center;
  }
  
}