img {
    display: block;
    max-width: 75%;
}
body {
    background-color: #1d3557;
}
main {
font-family: arial;
    background-color: #f1faee;
    width: 50%;
    margin: 10px auto;
    padding-bottom: 50px;
    /* padding: 100px; */
}
h1 {
    display: block;
    margin: 0 auto;
    text-align: center;
    background: #457b9d;
    padding: 50px;
    color: white;
}
ul {
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
}
li {
    list-style-type: none;
}
h2 {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    background: #e63946;
    padding: 10px;
    border-radius: 50px;
    max-width: 100%
}
.hike-info {
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
}
/* .hidden {
    display: none;
} */